@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body bg-cream text-warm-900 antialiased;
  }
}
